html {
    scrollbar-width: none;/* hides firefox scrollbar*/
}
body{
    font-family:arial;
    font-size: 3vmin;
    margin: 0px;
    -ms-overflow-style: none;  /* hides scrollbar on IE and Edge */
    text-align:center;
    
}
body::-webkit-scrollbar {
display: none;/* hides scrolbar on chrome, safari, and opera*/
}
#game{
    width:100vw;
    height:100vw;
}