html{
    scrollbar-width: 0;
}
body{
    margin:0px;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    display: none;/* hides scrolbar on chrome, safari, and opera*/
}
#game{
    margin:0px;
    left:50%;
    top:50%;
    transform: translate(50%,0%);
    width: 60vw;
    height:100vh;
}