html {
    scrollbar-width: none;/* hides firefox scrollbar*/
}
body{
    background-color:#156585;
    font-family:arial;
    font-size: 3vmin;
    margin: 0px;
    -ms-overflow-style: none;  /* hides scrollbar on IE and Edge */
    text-align:center;
    
}
body::-webkit-scrollbar {
display: none;/* hides scrolbar on chrome, safari, and opera*/
}
#tutorial{
    width: 100%;
    height: 100%;
    margin:0px;
    border: 0;
    display: block;
    /* No floating content on sides */
}
a{
    text-decoration: none;
    color:black;
    
}a:visited{
    color:black;
}
#box{
    width:100vw;
    display:flex;
    justify-content: space-around;
    align-items:center;
    align-content:center;
    height:87vh;
    flex-wrap:wrap;
}
#clink{
    width: 64vmin;
    height:36vmin;
    z-index:1;/*displays on top of other things*/
    font-size: 1vmin;/*scales text font with window size*/
    transition: transform 1s, z-index 0.2s ,box-shadow 1s;
}
#clink:hover{
    z-index:500;
    transform: scale(1.25);
    box-shadow:0 0 1vmin 0.5vmin #351585;
    
}
.top{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);/*centers div*/
    z-index:1;/*displays on top of other things*/
    font-size: 15vmin;/*scales text font with window size*/
    color:#f71111;
    
}
.banner{
    position: fixed;
    width: 100vw;
    height: 4vmin;
    z-index: 3;
}
#button{
    left: 1%;
    top:5%;
    position: absolute;
    padding: 0.1%;
    height: 3vmin;
    text-decoration: none;
    z-index: 4;
    background-color: #ff4500;
}
#snake{
    background-color:#152d85;
    color: white;
    
}
#container{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    align-content:space-around;
    font-family:courier new;
}
#game{
    cursor:none;
    height: 90vmin;
    width: 90vmin;
    box-shadow: 0 0 10vmin 0.2vmin #000;
}
#score{
    z-index:1;
}
#current{
    z-index:1;
}