html {
    scrollbar-width: none;/* hides firefox scrollbar*/
  }
  
  body{
      color: blue;
      font-family:Impact;
      font-size: 2vmin;
      margin: 0px;
      -ms-overflow-style: none;  /* hides scrollbar on IE and Edge */
      text-align:center;
      
  }
  body::-webkit-scrollbar {
    display: none;/* hides scrolbar on chrome, safari, and opera*/
  }
  #tutorial{
      width: 100%;
      height: 100%;
      margin:0px;
      border: 0;
      display: block;
      /* No floating content on sides */
  }
  .top{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);/*centers div*/
      z-index:1;/*displays on top of other things*/
      font-size: 15vmin;/*scales text font with window size*/
      color:#f71111;
      
  }